.venv/
__pytest_cache__/
haarcascade_frontalface_default.xml
rostros_cache.pkl
   routes/__pycache__/api.cpython-313.pyc
core/__pycache__/horarios.cpython-313.pyc
core/__pycache__/horarios.cpython-313.pyc
routes/__pycache__/api.cpython-313.pyc
